*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    overflow: auto;
}
/* Colors */
:root{
    --color1: hsl(225, 100%, 94%);
    --color2:hsl(245, 75%, 52%);
    --color3:hsl(225, 100%, 98%);
    --color4:hsl(224, 23%, 55%);
    --color5:hsl(223, 47%, 23%);
}
/* Font link */
@font-face{
    font-family: Red-Hat-Display;
    src: url(Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}
body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--color1);
    width: 900px;
    margin: 0 auto;
    padding: 60px;
}
.box{
    background-color: var(--color3);
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}
.image{
    width: 100%;
    margin: 0 auto;
}
.image img{
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}
.body{
    padding: 35px;
    margin: 0 auto;
    text-align: center;
}
h2{
    color: var(--color5);
    font-weight: 700;
    font-size: 30px;
    font-family:Red-Hat-Display;
    src: url(Red_Hat_Display/static/RedHatDisplay-BoldItalic.ttf);
}
h3{
    color: var(--color4);
    font-weight: 400;
    padding: 20px;
    font-family:Red-Hat-Display;
    src: url(Red_Hat_Display/static/RedHatDisplay-LightItalic.ttf);
}
.Annual{
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 13vh;
    margin: 0 auto;
}
.Annual img{
    padding-right: 15px; 
}
.Annual h4{
    color: var(--color5);
    font-weight: 900;
    font-family:Red-Hat-Display;
    src: url(Red_Hat_Display/static/RedHatDisplay-ExtraBold.ttf);
}
.Annual p{
    color: var(--color4);
    padding-top: 5px; 
    font-family:Red-Hat-Display;
    src: url(Red_Hat_Display/static/RedHatDisplay-LightItalic.ttf);
    font-weight: 400;
}
.button button {
    border: none;
    background-color: var(--color1);
    text-decoration: underline;
    color: var(--color2);
    padding-left: 80px;
}
.button button :hover{
    border: none;
    text-decoration: none;
    color: hsl(245, 80%, 61%);
}
button {
    border-radius: 7px;
    width: 100%;
    margin: 0 auto;
    height: 8vh;
}
.buttons{
    width: 100%;
    margin: 0 auto;
}
.Proceed{
    padding-top: 30px;
    border-radius: 7px;
    box-shadow: 0  1px 0 hsl(245, 90%, 74%), 0  2px 0 hsl(245, 73%, 66%);
}
.Proceed button{
    background-color: var(--color2);
    border: none;
    outline: none;
}
.Proceed button:hover{
    background-color: hsl(245, 73%, 66%);
    transition: 0.3s;
    box-shadow: 0 16px 0 hsl(245, 90%, 74%), 0 50px 0 hsl(245, 73%, 66%);
}
.Proceed button a{
    text-decoration-line: none;
    color: var(--color3);
    text-align: center;
    font-family:Red-Hat-Display;
    src: url(Red_Hat_Display/static/RedHatDisplay-BoldItalic.ttf);
    font-weight: 700;
}
.Cancel{
    padding-top: 20px;
}
.Cancel button a:hover{
    color: var(--color5);
    transition: 0.3s;
}
.Cancel button a{
    text-decoration-line: none;
    color: var(--color4);
    font-family:Red-Hat-Display;
    src: url(Red_Hat_Display/static/RedHatDisplay-BoldItalic.ttf);
    font-weight: 700;
}
.Cancel button{
    border: none;
    outline: none;
    background-color: var(--color3);
}
.attribution{
    text-align: center;
}